<!DOCTYPE html>
<html lang="en">
<div class="container">
  <div class="col-sm-9" align="center">
    <center>
      <h1 class="section-heading"> Raw Scaled Sensor Data by Month </h1>
    </center>
  </div>
</div>
<div class="container">
  <div class="col-sm-9">
    <img src="#" id="animation" name="animation" alt="UNRESP - University of Leeds 2018" style="width:70%;" align="right"height: auto;>
    <p></p>
          <table cellspacing="10" cellpadding="0" align="left">
          <thead>
            <th style='width: 30%;'> 2017 </th>
            <th style='width: 30%;'> 2018 </th>
            <th style='width: 30%;'> 2019 </th>
          </thead>
          <tbody>
              <td>
              <a href="#" name="a1" onMouseOver="GoToImage(0);" onClick="GoToImage(0);" class="btn btn-primary btn-sm"> Jan</a><br />
              <a href="#" name="a2" onMouseOver="GoToImage(1);" onClick="GoToImage(1);" class="btn btn-primary btn-sm"> Feb</a><br />
              <a href="#" name="a3" onMouseOver="GoToImage(2);" onClick="GoToImage(2);" class="btn btn-primary btn-sm"> Mar</a><br />
              <a href="#" name="a4" onMouseOver="GoToImage(3);" onClick="GoToImage(3);" class="btn btn-primary btn-sm"> Apr</a><br />
              <a href="#" name="a5" onMouseOver="GoToImage(4);" onClick="GoToImage(4);" class="btn btn-primary btn-sm"> May</a><br />
              <a href="#" name="a6" onMouseOver="GoToImage(5);" onClick="GoToImage(5);" class="btn btn-primary btn-sm"> Jun</a><br />
              <a href="#" name="a7" onMouseOver="GoToImage(6);" onClick="GoToImage(6);" class="btn btn-primary btn-sm"> Jul</a><br />
              <a href="#" name="a8" onMouseOver="GoToImage(7);" onClick="GoToImage(7);" class="btn btn-primary btn-sm"> Aug</a><br />
              <a href="#" name="a9" onMouseOver="GoToImage(8);" onClick="GoToImage(8);" class="btn btn-primary btn-sm"> Sep</a><br />
              <a href="#" name="a10" onMouseOver="GoToImage(9);" onClick="GoToImage(9);" class="btn btn-primary btn-sm"> Oct</a><br />
              <a href="#" name="a11" onMouseOver="GoToImage(10);" onClick="GoToImage(10);" class="btn btn-primary btn-sm"> Nov</a><br />
              <a href="#" name="a12" onMouseOver="GoToImage(11);" onClick="GoToImage(11);" class="btn btn-primary btn-sm"> Dec</a><br />
            </td>
            <td>
              <a href="#" name="a13" onMouseOver="GoToImage(12);" onClick="GoToImage(12);" class="btn btn-primary btn-sm"> Jan</a><br />
              <a href="#" name="a14" onMouseOver="GoToImage(13);" onClick="GoToImage(13);" class="btn btn-primary btn-sm"> Feb</a><br />
              <a href="#" name="a15" onMouseOver="GoToImage(14);" onClick="GoToImage(14);" class="btn btn-primary btn-sm"> Mar</a><br />
              <a href="#" name="a16" onMouseOver="GoToImage(15);" onClick="GoToImage(15);" class="btn btn-primary btn-sm"> Apr</a><br />
              <a href="#" name="a17" onMouseOver="GoToImage(16);" onClick="GoToImage(16);" class="btn btn-primary btn-sm"> May</a><br />
              <a href="#" name="a18" onMouseOver="GoToImage(17);" onClick="GoToImage(17);" class="btn btn-primary btn-sm"> Jun</a><br />
              <a href="#" name="a19" onMouseOver="GoToImage(18);" onClick="GoToImage(18);" class="btn btn-primary btn-sm"> Jul</a><br />
              <a href="#" name="a20" onMouseOver="GoToImage(19);" onClick="GoToImage(19);" class="btn btn-primary btn-sm"> Aug</a><br />
              <a href="#" name="a21" onMouseOver="GoToImage(20);" onClick="GoToImage(20);" class="btn btn-primary btn-sm"> Sep</a><br />
              <a href="#" name="a22" onMouseOver="GoToImage(21);" onClick="GoToImage(21);" class="btn btn-primary btn-sm"> Oct</a><br />
              <a href="#" name="a23" onMouseOver="GoToImage(22);" onClick="GoToImage(22);" class="btn btn-primary btn-sm"> Nov</a><br />
              <a href="#" name="a24" onMouseOver="GoToImage(23);" onClick="GoToImage(23);" class="btn btn-primary btn-sm"> Dec</a><br />
            </td>
            <td>
              <a href="#" name="a25" onMouseOver="GoToImage(24);" onClick="GoToImage(24);" class="btn btn-primary btn-sm"> Jan</a><br />
              <a href="#" name="a26" onMouseOver="GoToImage(25);" onClick="GoToImage(25);" class="btn btn-primary btn-sm"> Feb</a><br />
              <a href="#" name="a27" onMouseOver="GoToImage(26);" onClick="GoToImage(26);" class="btn btn-primary btn-sm"> Mar</a><br />
              <a href="#" name="a28" onMouseOver="GoToImage(27);" onClick="GoToImage(27);" class="btn btn-primary btn-sm"> Apr</a><br />
              <a href="#" name="a29" onMouseOver="GoToImage(28);" onClick="GoToImage(28);" class="btn btn-primary btn-sm"> May</a><br />
              <a href="#" name="a30" onMouseOver="GoToImage(29);" onClick="GoToImage(29);" class="btn btn-primary btn-sm"> Jun</a><br />
              <a href="#" name="a31" onMouseOver="GoToImage(30);" onClick="GoToImage(30);" class="btn btn-primary btn-sm"> Jul</a><br />
              <a href="#" name="a32" onMouseOver="GoToImage(31);" onClick="GoToImage(31);" class="btn btn-primary btn-sm"> Aug</a><br />
              <a href="#" name="a33" onMouseOver="GoToImage(32);" onClick="GoToImage(32);" class="btn btn-primary btn-sm"> Sep</a><br />
              <a href="#" name="a34" onMouseOver="GoToImage(33);" onClick="GoToImage(33);" class="btn btn-primary btn-sm"> Oct</a><br />
              <a href="#" name="a35" onMouseOver="GoToImage(34);" onClick="GoToImage(34);" class="btn btn-primary btn-sm"> Nov</a><br />
              <a href="#" name="a36" onMouseOver="GoToImage(35);" onClick="GoToImage(35);" class="btn btn-primary btn-sm"> Dec</a><br />
            </td>
          </tbody>
</table>
  </div>
</div>
</html>
