*.directory
*.exe
*.lst
*.dat
*.grd
*.sav
*.log
*.clr
*.bna
*.aux
*.mod
*.o
*.con

NAM_data/raw/*/
NAM_data/raw/2017*
CALPUFF_OUT/CALMET/*/
CALPUFF_OUT/CALPUFF/*/
vis/*/**
CALPUFF_SRC/*/**
CALPUFF_INP/terrel.inp
CALPUFF_INP/ctgproc.inp
CALPUFF_INP/makegeo.inp
CALPUFF_INP/calmet.inp
CALPUFF_INP/calpuff.inp
updateNDrive.sh

progress.md
Python/test_data/


VIZ_SITE_CODE/public_html/UNRESP_VIZ/AQSensor/*/*.png
VIZ_SITE_CODE/public_html/UNRESP_VIZ/*/*.jpg
VIZ_SITE_CODE/public_html/UNRESP_VIZ/*/*google_conc*.html
VIZ_SITE_CODE/public_html/UNRESP_VIZ/2018/
VIZ_SITE_CODE/public_html/UNRESP_VIZ/*/*.gif

grabAQfiles.sh

Python/__pycache__/
Python/*.pyc
Python/*/*.pyc
Python/*/__pycache__/
Python/analysis_tools/*.txt

CALPUFF_EXE/*.exe
CALPUFF_EXE/libraries/lib*
CALPUFF_EXE/libraries/*.so
CALPUFF_EXE/libraries/*main

update_site_code.sh
