*.directory
*.exe
*.lst
*.dat
*.grd
*.sav
*.log
*.clr
*.bna
*.aux
*.mod
*.o
*.con

NAM_data/raw/*/
CALPUFF_OUT/CALMET/*/
CALPUFF_OUT/CALPUFF/*/
vis/*/

CALPUFF_INP/terrel.inp
CALPUFF_INP/ctgproc.inp
CALPUFF_INP/makegeo.inp
CALPUFF_INP/calmet.inp
CALPUFF_INP/calpuff.inp
updateNDrive.sh

progress.md
AppSecretKey.txt
AQMeshCodes.txt
Python/GM_API_KEY.txt


/VIZ_SITE_CODE/public_html/UNRESP_VIZ/AQSensor/*/*.png
