 /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: black;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
